<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Adventskalender 2018</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
		<!--
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.js")"></script>-->
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/calendar.css")">
    </head>
    <body background="@routes.Assets.at("images/Adventskalendar.jpg")" background-size="cover">
        <h1>Adventskalender 2018</h1>
		<br><br><br><br>
		<div class="container">
			<div class="row">
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(15)">15</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(8)">8</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(20)">20</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(3)">3</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(11)">11</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(22)">22</a></div>
			</div>                                                            
			<br><br><br><br><br>                                              
			<div class="row">                                                 
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(7)">7</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(21)">21</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(17)">17</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(6)">6</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(14)">14</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(1)">1</a></div>
			</div>                                                            
			<br><br><br><br><br>                                              
			<div class="row">                                                 
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(4)">4</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(10)">10</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(24)">24</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(13)">13</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(9)">9</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(19)">19</a></div>
			</div>                                                            
			<br><br><br><br><br>                                              
			<div class="row">                                                 
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(18)">18</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(12)">12</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(2)">2</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(23)">23</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(16)">16</a></div>
			  <div class="span2"><a href="@controllers.routes.ImageController.showImage(5)">5</a></div>
			</div>
			<br><br><br><br><br>
		</div>
		
    </body>
</html>

